a{
    text-decoration:none;
    color:#000000 !important;
}
/*************** DASHBOARD CSS **************/

	#welcome_dashboard {
		margin-top: 0px;
	}

		#welcome_dashboard h3 {
			text-transform: uppercase;
			font-weight: normal;
			font-family: 500;
			font-size: 0.75rem;
			color: #007903;
			margin-top: 15px;
			margin-bottom: 15px;
			display: block;
			background-color: rgba(146, 169, 68, 0.4);
		}

			#welcome_dashboard h3 span {
				display: inline-block;
				padding: 0 10px 0 0;
				background-color: #f9f9f9;
			}

			#welcome_dashboard h3:first-child {
				margin-top: 0;
			}

	.dashboard_menu {
		margin: 15px -16px 0 -15px;
	}

		.dashboard_menu > * {
			border-bottom: 1px solid #eee;
			border-right: 1px solid #eee;
		}

			.dashboard_menu > *:nth-child(3n) {
				border-right: none;
			}

			.dashboard_menu > *.ui-block-c:last-child,
			.dashboard_menu > *.ui-block-b:nth-last-child(2),
			.dashboard_menu > *.ui-block-a:nth-last-child(3),
			.dashboard_menu > *.ui-block-b:last-child,
			.dashboard_menu > *.ui-block-a:last-child,
			.dashboard_menu > *.ui-block-a:nth-last-child(2) {
				border-bottom: none;
			}

			.dashboard_menu > * > a {
				padding: 15px 0;
				display: block;
				text-align: center;
				text-decoration: none !important;
				font-size: 0.92rem;
				font-weight: strong !important;
			}

				.dashboard_menu > * > a > span {
					display: block;
					white-space: nowrap;
					overflow: hidden;
					color: #16216a;
					text-overflow: ellipsis;
					padding-left: 10%;
					padding-right: 10%;
					font-weight: 600 !important;
				}

				.dashboard_menu > * > a > i {
					display: block;
					font-size: 2rem;
					margin-bottom: 3px;
					color: #252e73;
				}

.custom-h{
color: #61a93e;
}
.custom-color{
	background-color:#61a93e;
	color: rgba(255,255,255,0.85);
}

div[data-role='header']
{
    text-shadow: none;
    background: #069;
    color: #FFF;
    border: none;
    box-shadow: 0px 1px 1px 0px #CCC;
}

div[data-role='footer']
{

}

div[data-role='page']{
    background: #fff;
    -webkit-backface-visibility: hidden;
}

.btn-top
{
    border: none;
    background: none;
}
.menu-img{
    margin-top: 25px;
    margin-left: 35px;
    width: 24px;
}
.list ul li:last-child{
    border-bottom: none;
}

.main-color{
    color: #069;
}
.book-color{
    color: #00CC33;
}

.sec-color {
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px #ccc;
}

.hidden{
    visibility: hidden;
}

.shown{
    visibility: visible;
}

.border{
    border: thin solid #f3f3f3;
}

.border-bottom{
    border-bottom: thin solid #f3f3f3;
}

.margin{
    margin: 5px;
}

.img-size{
    width: 97px;
    height: 139px;
}
