			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="https://fb-s-b-a.akamaihd.net/h-ak-xpt1/v/t1.0-1/c16.0.160.160/p160x160/15135827_10208390694421452_284124596247112640_n.jpg?oh=d98a196847280d74d51aea6784507ec2&oe=590B62B3&__gda__=1493080991_044a3492a94ab27d07a494f4df274b7b" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>Lebron </strong>
								<span class='subline'>Super Power User</span>
							</div>
						</div>
					</div>
				</div>


				<div data-role="" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3 class="custom-h">Forms</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="#pgroups" data-ajax='false' data-icon="false">Producer Groups</a></li>
						<li><a href="#producers" data-ajax='false' data-icon="false">Producers</a></li>
						<li><a href="#planvivo" data-ajax='false'>Plan Vivo Information</a></li>
						</ul>
				</div>


				<h5 class="custom-h">Settings</h5>
				<div data-role="" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">

					<ul  data-role="listview" data-inset="false" data-icon="false">
						<li><a href="#profile" data-ajax='false'>Profile</a></li>
						<li><a id="logout" style="color:#000">Logout</a></li>
					</ul>
				</div>

			</div>
			<!-- /panel left -->
